*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
}
.firstpage {
background-image: url(assets/h_img.jpg);
background-size: cover;
background-position: center center;
background-attachment: fixed;
width: 100%;
height: 100vh;
}
.logo {
width: 7%;
margin: auto;
}
.welcome {
width: 50%;
margin: auto;
text-align: center;
color: white;
margin-top: 20px;
}
.welcome h3 {
font-size: 24px;
}
.welcome p {
font-size: 10px;
}
.logo img {
margin-top: 250px;
}
.mouse {
width: 0%;
margin: auto;
cursor: pointer;
margin-top: 150px;
}
.about {
text-align: center;
margin-top: 40px;
margin-bottom: 40px;
}
.services {
background: url(assets/s_image.jpg);
background-size: cover;
height: 200px;
}
.serin {
text-align: center;
color: white;
}
.serin h3 {
padding-top: 50px;
} 
.we-do {
text-align: center;
margin-top: 20px;
}
.do {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 40px;
margin-left: 50px;
margin-right: 50px;
}
.description, .dev-des, .pro-des {
text-align: center;
cursor: pointer;
width: 30%;
display: none;
}
.dicon {
cursor: pointer;
}
.pot {
text-align: center;
margin-top: 20px;
}
.row {
display: flex;
flex-wrap: wrap;
margin-left: 100px;
margin-right: 100px;
margin-top: 20px;
}
.colunm {
flex: 25%;
}
.contact {
background: url(assets/c_image.jpg);
background-size: cover;
height: 80vh;
width: 100%;
margin-top: 50px;
}
.find {
width: 70%;
margin: auto;
}
form {
width: 80%;
margin: auto;
}
.find h3 {
color: white;
text-align: center;
padding-top: 50px;
}
input.form-control {
background-color: transparent;
border: 1px solid white;
width: 350px;
}
.put {
width: 100%;
margin: auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
textarea.form-control {
width: 54.5vw;
margin-top: 20px;
height: 35vh;
border: 1px solid white;
background-color: transparent;
}
textarea.form-control::placeholder {
color: white;
}
input.form-control::placeholder {
color: white;
margin-left: 10px;
}
button {
margin-left: 40%;
width: 120px;
height: 40px;
background-color: transparent;
color: white;
border: 1px solid white;
border-radius: 5px;
margin-top: 20px;
}
.icons {
width: 50%;
margin: auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 30px;
}
.icons img {
cursor: pointer;
}
.regards {
width: 20%;
margin: auto;
text-align: center;
margin-top: 30px;
}